<%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/navbar.ejs') %>
    <br>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1>Cadastrar serviço:</h1>
            </div>
            <div class="card-body">
                <form method="POST" action="/salvarArquivo">
                    <input type="text" placeholder="Nome do serviço" name="nome" class="form-control">
                    <br>
                    <input type="text" placeholder="Diretorio do arquivo" name="dir" class="form-control">
                    <br>
                    <button class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </div>
</body>
<%- include('./partials/footer.ejs') %>